@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: 238, 56, 78; /*#ee384e*/
    --color-secondary: 74, 76, 90; /* #4a4c5a*/

    --color-bg: 243, 244, 245; /* #f3f4f5*/
    --color-bg-side: 252, 251, 255; /* #fcfdff*/
    --color-bg-black: 0, 0, 0;

    --color-text-base: 66, 71, 80; /* #424750*/
    --color-text-muted: 107, 114, 128; /*#6b7280*/
    --color-text-side: 255, 231, 231; /*#ffe7e7*/
    --font-family: iranyekan, "IRANSans", "Tahoma";
  }

  .dark {
    --color-bg: 15, 23, 42; /* #0f172a*/
    --color-bg-side: 30, 41, 59; /* #1e293b*/

    --color-text-base: 226, 232, 240; /*#e2e8f0*/
    --color-text-muted: 140, 154, 175; /*#8c9aaf*/
    --color-text-side: 255, 231, 231; /*#ffe7e7*/
  }

  html[dir="ltr"] {
    --font-family: "Poppins", "Roboto", "sans-serif";
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: rgb(var(--color-bg));
  color: rgb(var(--color-text-base));
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// ********
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url("/fonts/woff/iranyekanwebbold.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("/fonts/ttf/iranyekanwebbold.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 100;
  src: url("/fonts/woff/iranyekanwebthin.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("/fonts/ttf/iranyekanwebthin.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/woff/iranyekanweblight.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("/fonts/ttf/iranyekanweblight.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/woff/iranyekanwebregular.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/fonts/ttf/iranyekanwebregular.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/woff/iranyekanwebmedium.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("/fonts/ttf/iranyekanwebmedium.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/woff/iranyekanwebextrabold.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/fonts/ttf/iranyekanwebextrabold.ttf") format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 850;
  src: url("/fonts/woff/iranyekanwebblack.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/ url("/fonts/ttf/iranyekanwebblack.ttf")
      format("truetype");
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/woff/iranyekanwebextrablack.woff") format("woff"),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
      url("/fonts/ttf/iranyekanwebextrablack.ttf") format("truetype");
}

.slick-dots li button:before {
  font-size: 12px;
}
